{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">profile</h5>
        <form method="post">
            {% csrf_token %}
            <table class="profile_table mb-4">
                <tbody>
                    <tr>
                        <th class="header">name</th>
                        <td class="data form_wrap form_wrap-2">
                            {% render_field form.first_name class='form-control' placeholder='first_name' %}
                            {% render_field form.last_name class='form-control' placeholder='last_name' %}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">affiliation</th>
                        <td class="data">
                            {% render_field form.department class='form-control' placeholder='affiliation' %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button mx-auto">
                <button class="btn btn-lg btn-warning btn-block" type="submit">Registration</button>
            </div>
        </form>

    </div>
</div>




{% endblock %}