{% extends 'app/base.html' %}

{% block content %}

<div class="card card-projile my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">Profile </h5>
        <table class="profille_table mb-4">
            <tbody>
                <tr>
                    <th class="header">name</th>
                    <td class="data">xxx</td>
                </tr>
                <tr>
                    <th class="header">email</th>
                    <td class="data">xxx</td>
                </tr>
                <tr>
                    <th class="header">affiliation</th>
                    <td class="data">xxx</td>
                </tr>
                <tr>
                    <th class="header">Join Date</th>
                    <td class="data">xxx</td>
                </tr>
            </tbody>
        </table>
        <div class="button mx-auto"> 
            <a href="" class="btn btn-lg btn-warning btn-black">edit</a>

        </div>
    </div>
</div>

{% endblock %}